<html>
  <head>
    <title>Klein Internationalization</title>
  </head>
  <body>
    <h1>Klein</h1>
    Modes: <%=link_to 'Stats', :action=>'index'%> | <%=link_to 'Filter', :action=>'filter' %> | <%= link_to 'Translate', :action=>'translate' %>
    <div>
    <%= yield%>
    </div>
  </body>
</html>